
*$py.class
app.log
build/
dist/
# Distribution / Packaging
.DS_Store
*.egg-info/
.env/
env/
# Generated Output
.idea/
# IDE / Editor
*.log
# Logs
# OS Generated
__pycache__/
*.py[cod]
# Python
qrcode.pdf
qrcode.png
*.swo
*.swp
Thumbs.db
.venv/
venv/
# Virtual Environment
.vscode/
